* {
    margin: 10px;
    padding-left: 10px;
    box-sizing: border-box;
    font-family: Caveat;
}

table, th, tr, td{
    padding: 10px;
    border: 2px black solid;
    border-collapse: collapse; /*Добавляет границы (бортики)*/
    text-align: center;
    font-family: Caveat;
}

.fast_travel a{
    text-decoration: none;
    font-family: Caveat;
    font-size: 12pt;
    color: black;
    background-color: white;
}

nav a:hover {
    color: #ff6348;

}
